<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <title>Find the Treasure</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
    <link href="https://fonts.googleapis.com/css2?family=Pirate+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">

    <title>Home Page</title>
    <!-- Add CSS links if necessary -->
</head>
<body>
<h1>Welcome to Find the Treasure!</h1>
<p>Embark on your treasure hunting adventure.</p>

<!-- Login Button -->
<a th:href="@{/login}" class="btn btn-primary">Log In</a>

<!-- Register Button -->
<a th:href="@{/register}" class="btn btn-secondary">Register</a>

<!-- Rest of your homepage content -->
</body>
</html>
